<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twinkle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,34},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>twinkle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>twinkle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>twinkle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>twinkle.png</string>
            <key>size</key>
            <string>{124,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ef9cefe2301bdd9563d95749d5a5af4:a8fe3590756baf843604d5400ff28120:d5a1af2d6e5b7a2094921316022c1e36$</string>
            <key>textureFileName</key>
            <string>twinkle.png</string>
        </dict>
    </dict>
</plist>
